<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h1>Formulir Menambahkan Data</h1>

        <% if (typeof errors != 'undefined') { %>
          <div class="alert alert-danger" role="alert">
              <ul>
                  <% errors.forEach(error => { %>
                      <li>
                          <%= error.msg %>
                      </li>
                  <% }) %>
              </ul>
          </div>
      <% } %>
  
        <form method="post" action="/contact">
          <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" required/>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text"
              class="form-control" id="email" name="email" required />
          </div>
          <div class="mb-3">
            <label for="NomorTelpon" class="form-label">Nomor Telpon</label>
            <input type="text" class="form-control" id="NomorTelpon" name="NomorTelpon" required />
          </div>
  
          <button type="submit" class="btn btn-warning btn-gradient shadow p-2">
            Tambah data
          </button>
        </form>
        <br />
        <a href="/contact" class="card-link text-success"
          >Kembali ke halaman contact</a
        >
        </div>
      </div>
    </div>
  </div>